body{
    background-color: rgb(255, 247, 133);
}

header{
    display: flex;
    justify-content: center;
}


header div{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 20px;
}

main{
    display: flex;
    justify-content: center;
}

main div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 200px;
    height: 300px;
}